<!DOCTYPE html>
<html lang="en">
<head>
    <title>Meme Website</title>
    <style>
        body {background-color:pink;background-repeat: no-repeat;background-position: top;}
        h1{text-align: center;font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;}
        p{text-align: center;font-family: 'Courier New', Courier, monospace}
    </style>
</head>
<body>
    <h1>
        Website for memes!!!
    </h1>
    <p>
        will refresh in 30 sec
    </p>
    <p>
        <img src="{{meme_pic}}" alt="">
    </p>
    <p>
        Current subreddit : {{subreddit}}
    </p>
</body>
</html>